email-validator>=2.2.0
faiss-cpu>=1.11.0
flask>=3.1.1
flask-sqlalchemy>=3.1.1
gunicorn>=23.0.0
langchain>=0.3.25
langchain-community>=0.3.25
langchain-openai>=0.3.22
numpy>=2.3.0
openai>=1.86.0
psycopg2-binary>=2.9.10
sqlalchemy>=2.0.41
werkzeug>=3.1.3
